
  body{
    background-color: ghostwhite;
}
  .grid-container {
    width: 65vw;
    height: 65vw;
    max-width: 500px;
    max-height: 500px;
      display: grid;
      grid-template-columns: repeat(3,1fr);     
      grid-template-rows: repeat(3,1fr);    
      margin-left: auto;
    margin-right: auto;
  }
  .grid-container > div {
    text-align: center;
    border: 1px solid #f69c55;
    cursor: pointer;
    font-size: 3em;
    font-family: 'Orbitron';
    font-weight: bold;
    border-radius: 5px;
    background-color: midnightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
    }

  .endgame {
    display: none;
    width:  200px;
    top: 120px;
    background-color: rgba(1, 12, 1, 0.8);
    position: absolute;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 2em; 
    font-family: 'Orbitron';
    margin: 3% 8%;
  }
  
  .symbol{
    display: none;
    width: 220px;
    top: 110px;
    background-color: rgba(1, 12, 1, 0.8);
    position: absolute;
    margin-left: -110px;
    margin-top: -5px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: yellow;
    font-size: 2em; 
    font-family: 'Orbitron';
    margin: -5% 7%;
  }
  
  .symbol button{
    font-family: 'Orbitron';
    font-size:  50px;
    width: 70px;
  }
  
  .symbol  button:first-of-type {
    margin-right: 10px;
  }
  .symbol  button:last-of-type {
    margin-left: 10px;
  }
  
  .startGame {
    box-shadow: 3px 4px 0px 0px #8a2a21;
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;

	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
    outline: none;
    font-family: 'Orbitron';
  }
  
  .startGame:hover{
    background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
      background-color:#f24437;
      
  }
  .startGame:active{
      transform: scale(1.1);
      
  }
  
  .startGame{
      position: absolute;
      margin-left: 11%;
    margin-top: -10%;
  
  }